# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/
*.spec
.pyproject.toml.freeze

# App data (local dev)
.pytest_cache/
.coverage
htmlcov/
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
